.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #7700b3;} /* Green */
.success:hover {background-color: #cc66ff;}

.mar{
	margin-top: 50px;
	padding-top: 10px;
}


.buttonn {
    position: relative;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    padding-right: 10px;
    width: 160px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.bg{
	background-image: url("as.jpg");
}